<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><I>food webpage</I></title>
    <link rel="stylesheet" href="style.css">

    <style>
       
    
        body {
               
           >
            background-color: white(195, 233, 25, 0.616);
       }

        .img{
            opacity: 1;
            margin-left: 150px;
            margin-top: -70px;
            
        }
        span{
            margin-left: 60px;
            font-size: 500px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            opacity: 0.3;
            
        }
        
          </style>

</head>
<body> 
            
 
             <h1 style="color:red;"><i>Monky </i></h1>
             <h1 style="color:red;" class="food"><i>foods  </i></h1>    <div class=img><img src="images__1_-removebg-preview.png" alt="kong icon images" height="120px" width="150px"></div> 
             <h3 style="color: black;"><center>Welcome to our Restaurants</center></h3>
             
    <nav class="nav">

             <ul>
                  <a href="">Home</a>
                  <a href="">Contact</a>
                  <a href="">About</a>
                  <a href="">Services</a>
                  <a href="">Help</a>
             </ul>

     </nav>

     <br><br>

     <div>

        <p style="font-style: italic;">Your Delisious Food Waiting For You</p>

        <br>

        <strong>Please Your Order...></strong>

    </div>
    <span>foods</span>
    <br>
    <section class="offer">

        <h1>50%</h1>
        <br>
        <h2> OFFER PRICE</h2>   
    </section>

    <div class="container">
        <p>
           <i> Food is any substance consumed by an organism for nutritional support.</i>
            <br><br>
            <q>Food is usually of plant, animal,</q> or <em>fungal origin and contains essential nutrients such as carbohydrates,</em> fats, proteins, vitamins, or minerals.
        </p>
    </div>

    
</body>
</html>